	body { 
		background-color: #FAFCFF;
		font-family: sans-serif; 
		scroll-behavior: smooth;
		margin:0; padding:0;
	}
	
	div { box-sizing: border-box; margin:0px; padding:0px; }
	table { box-sizing: border-box; margin:0px; padding:0px; }
	td { padding:0px; }

	a {
		text-decoration:none; color:white;
	}

	.header {
		left:0; top:0; z-index:999; height:60px; width:100%; margin:0; padding:0; display:block; box-sizing:border-box;
		border-bottom:0px solid #2f2f2f; background-image:linear-gradient(to right, rgb(0,0,0), rgb(0,0,0), rgb(75,75,75) );
	}
	.menu {
		height:60px; margin:0px 0px 0px 0px; padding:0px; text-align:center; display:block; width:100%; box-sizing:border-box;
	}
	.menu div {
		position:relative; width:10%; height:100%; margin:0px; padding:0px 8px 0px 8px; 
		display:block; float:left; vertical-align:middle;
		white-space:nowrap; text-overflow:ellipsis; overflow:hidden; 
		color:#bfbfbf; font-size:14px; text-align:center;
	}
	.menu div.normal { color:white; padding-top:14px; }
	.menu div.active { color:white; padding-top:14px; background-color:#2f2f2f; border-bottom:0px solid #7f7f7f; }
	.menu div.project-name {
		height:60px; margin:0px; padding-top:14px; width:65%; float:left; 
		white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  
		vertical-align:middle; text-align:center; font-size:18px;
	}
	.menu div.project-details {
		width:15%; height:60px; margin:0px; vertical-align:middle; color:white; text-align:center;
		font-size:11px; font-family:courier;
	}
	.menu div.project-details div { white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }

	.menu div.project-details div.logout {
		width:100%; height:20px; display:block; white-space: nowrap; overflow:hidden; 
		text-align:center; margin:0; padding:2px; 
	}
	.menu div.project-details div.time {
		width:100%; height:20px; display:block; text-align:center; padding-top:4px; font-size:12px; padding:2px; margin:0;
	}
	.menu div.project-details div.version {
		width:100%; height:20px; display:block; text-align:center; padding-top:4px; font-size:12px; padding:2px; margin:0;
	}

	.content {
		width:100%;
		position: absolute; top:60px; left:0px;
		box-sizing:border-box;
		border-top:0px solid white;
		margin:0; padding:0;
		background-color:#ffffff;
		text-align:center;
	}		

	.page {
		display:none;
		width:100%;
		margin:0; padding:0px 0px 10px 0px;
		background-color:#ffffff;
	}

	textarea.editBoxInput {
		width:100%; font-size:12px; box-sizing: border-box;
	}
	input.editBoxInput {
		width:100%; font-size:12px; box-sizing: border-box;		
	}
	div.editBoxPrompt {
		margin:8px 0px 2px 0px; text-align:left; font-size:11px;
	}
		
	h1 { margin:2% 1% 1% 4%; font-size:140%; color:#4f4f4f; font-variant:small-caps; }

	.slidecontainer { width: 100%; }

	.slider { 
		-webkit-appearance: none;
		width: 100%; height: 5px; background: #d3d3d3; outline: none; opacity: 0.7;
		-webkit-transition: .2s; transition: opacity .2s;
	}

	.slider:hover { opacity: 1; }

	.slider::-webkit-slider-thumb {
		-webkit-appearance: none; appearance: none;
		width: 25px; height: 5px; background: #4CAF50; cursor: pointer;
	}

	.slider::-moz-range-thumb {
		width: 25px; height: 5px; background: #4CAF50; cursor: pointer;
	}    	

	.btn {
	  border: 2px solid black;
	  background-color: white;
	  color: black;
	  padding: 7px 14px;
	  font-size: 14px;
	  cursor: pointer;
	}

	.success {
	  border-color: #2f8f2f;
	  color: green;
	}

	.success:hover {
	  background-color: #2f8f2f;
	  color: white;
	}

	.info {
	  border-color: #2196F3;
	  color: dodgerblue
	}

	.info:hover {
	  background: #2196F3;
	  color: white;
	}

	.warning {
	  border-color: #ff9800;
	  color: orange;
	}

	.warning:hover {
	  background: #ff9800;
	  color: white;
	}

	.danger {
	  border-color: #bf2f2f;
	  color: red
	}

	.danger:hover {
	  background: #bf2f2f;
	  color: white;
	}

	.default {
	  border-color: #e7e7e7;
	  color: black;
	}

	.default:hover {
	  background: #e7e7e7;
	}