:root {
	--header-height:40px;
	--half-header-height:20px;
	--toolbox-table-height:22px;
	--toolbox-td-height:20px;
	--toolbox-font-size:16px;
	--toolbox-input-width:44px;
	--toolbox-input-font-size:14px;
	--ok-color: #4f4f4f;
	--cancel-color: #bf2f2f;
	--error-color: #b2f2f2;
}

	body { 
		background-color: #FAFCFF;
		font-family: sans-serif; 
		scroll-behavior: smooth;
		margin:0; padding:0;
	}
	
	div { box-sizing: border-box; margin:0px; padding:0px; }
	table { box-sizing: border-box; margin:0px; padding:0px; }
	td { padding:0px; }

	a {
		text-decoration:none; color:white;
	}

	.header {
		left:0; top:0; z-index:999; height:var(--header-height); width:100%; margin:0; padding:0; display:block; box-sizing:border-box;
		border-bottom:0px solid #2f2f2f; background-image:linear-gradient(to right, rgb(0,0,0), rgb(0,0,0), rgb(75,75,75) );
	}
	.menu {
		width:15%; height:var(--header-height); margin:0px 0px 0px 0px; padding:0px; box-sizing:border-box; display:block; float:left; 
		text-align:center; 
	}
	.menu div {
		position:relative; width:33%; height:100%; margin:0px; padding:0px 8px 0px 8px; 
		display:block; float:left;
		white-space:nowrap; text-overflow:ellipsis; overflow:hidden; 
		color:#bfbfbf; font-size:24px; text-align:center;
	}
	.menu div.normal { color:white; }
	.menu div.active { color:white; background-color:#2f2f2f; border-bottom:0px solid #7f7f7f; }
	.project-details {
		width:65%; height:var(--header-height); margin:0px; display:block; float:left; 
		text-align:center; font-size:11px; color:white; font-family:courier;
	}
	.project-details div.project-name {
		width:100%; height:var(--half-header-height); margin:0px; padding-top:2px; display:block; 
		white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  
		text-align:center; font-size:16px;
	}
	.project-details div.project-time-and-version {
		width:100%; height:var(--half-header-height); display:block; 
		white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  
		text-align:center; font-size:11px; margin:0; padding:2px;
	}

	.project-user {
		width:20%; height:var(--header-height); margin:0px; padding:2px; display:block; float:left;
		white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  
		vertical-align:middle; color:white; text-align:center;
		font-size:12px; font-family:courier;
	}

	.content {
		width:100%;
		position: absolute; top:var(--header-height); left:0px;
		box-sizing:border-box;
		border:0;
		margin:0; padding:0;
		background-color:#ffffff;
		text-align:center;
	}		

	.page {
		display:none;
		width:100%;
		border:0;
		margin:0; padding:0;
		background-color:#ffffff;
	}

	table.toolbox {
		width:100%; margin:0; padding:0; box-sizing:border-box; 
		height:var(--toolbox-table-height); font-size:var(--toolbox-font-size);
	}
	table.toolbox td.toolbox-left {
		width:50%; height:var(--toolbox-td-height); padding:0px 0px 0px 24px; text-align:left;
	}
	table.toolbox td.toolbox-left div {
		float:left; height:var(--toolbox-td-height); box-sizing:border-box; 
		margin:0px 2px 0px 2px; padding:0px; border:0;
		cursor:default; text-align:center; font-size:var(--toolbox-font-size);
	}
	table.toolbox td.toolbox-left div button {
		box-sizing:border-box; margin:0px; text-align:center;
		width:var(--toolbox-input-width); height:var(--toolbox-td-height); font-size:var(--toolbox-input-font-size); 
	}
	table.toolbox td.toolbox-left div input[type=number] {
		width:var(--toolbox-input-width); height:var(--toolbox-td-height); box-sizing:border-box; font-size:var(--toolbox-input-font-size); 
		margin:0px 2px 0px 2px; padding:0px; border:0; background-color:#dfdfdf; text-align:center;
	}

	table.toolbox td.toolbox-right {
		width:50%; height:var(--toolbox-td-height); padding:0px 24px 0px 0px; text-align:right;
	}
	table.toolbox td.toolbox-right div {
		float:right; box-sizing:border-box; 
		margin:0px 2px 0px 2px; height:var(--toolbox-td-height); padding:0px;
		text-align:center;
	}
	table.toolbox td.toolbox-right div button {
		box-sizing:border-box; margin:0px; padding:1px; text-align:center; 
		width:var(--toolbox-input-width); height:var(--toolbox-td-height); font-size:var(--toolbox-input-font-size); 	
	}

	table.toolbox td.toolbox-right div input[type=number] {
		width:var(--toolbox-input-width); height:var(--toolbox-td-height); box-sizing:border-box; font-size:var(--toolbox-input-font-size); 
		margin:0px 2px 0px 2px; padding:0px; border:0; background-color:#dfdfdf; text-align:center;		
	}
	table.toolbox td.toolbox-right div input[type=checkbox] { 
		margin:0px 2px 0px 2px; padding:0px; border:0; background-color:#dfdfdf; text-align:center;
	}
	table.toolbox td.toolbox-right div label {
		font-size:var(--toolbox-font-size); 
	}
	table.toolbox td.toolbox-right div.toolbox-separator {
		width:20px; height:var(--toolbox-td-height); box-sizing:border-box;
		margin:0px 2px 0px 2px; padding:0px; border:0px solid gray; background-color:white; color:#2f2f2f;
	}

	textarea.editBoxInput {
		width:100%; font-size:12px; box-sizing: border-box;
	}
	input.editBoxInput {
		width:100%; font-size:12px; box-sizing: border-box;		
	}
	div.editBoxPrompt {
		margin:8px 0px 2px 0px; text-align:left; font-size:11px;
	}
		
	h1 { margin:2% 1% 1% 1%; font-size:140%; color:#4f4f4f; font-variant:small-caps; }

	.btn {
		border: 2px solid black; background-color: white; padding: 7px 14px;
		color: black; font-size: 14px; cursor: pointer;
	}

	.ok { border-color: var(--ok-color); color:var(--ok-color); }
	.ok:hover { background-color: var(--ok-color); color: white; }

	.cancel { border-color: var(--cancel-color); color: var(--cancel-color) }
	.cancel:hover { background: var(--cancel-color); color: white; }

	.dim { border-color: #afafaf; color: #afafaf; }

	.clearfix::after {
	    content: ""; clear: both; display: table;
	}

	.ok-color { color: var(--ok-color); }
	.cancel-color { color: var(--cancel-color); }
	.error-color { color: var(--error-color); }	

	.keyword {
		background-color: #cfcfcf; padding:0px 4px 0px 4px; font-style:normal;
	}
